<!DOCTYPE html>
<html>
	<head>
		<title>Test_name</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="css/styles.css" rel="stylesheet">
		<link href="css/user_test.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
        $(document).ready(function() {
            load_question(1);
            for (var i = 1; i <= <?=sizeof($v['questions'])?>; i++) {
                (function(i) {
                    $("#test" + i).click(function(){
                        load_question(i);
                    });
                })(i);
            }
        });
        var current_number = 0;
        function load_question(number) {
            current_number = number;
            $.ajax({
                url: 'index.php?page=get_test&test_id=' + number,
                success: function(data) {
                    $('#question_body').html(data);
                }
            });
        }
        function answer_submitted() {
            if (current_number < <?=sizeof($v['questions'])?>) {
                load_question(current_number + 1);
            }
        }
        </script>
		

	</head>
	<body>
		<center>
		<div id="header">
			<!--<img src="img/Untitled2.png" id="logo"></img>
			<img src="img/Untitled.png" id="logo2"></img>-->
			
			<!--<script src="http://megatimer.ru/s/87d5123d4928c95cdf11048670a53bfa.js"></script>-->
			<!--<script src="http://megatimer.ru/s/87d5123d4928c95cdf11048670a53bfa.js"></script>-->
			<script src="js/timer.js"></script>
			<?if($v['user_logged_in']):?>
                <div id="user_name" style="float:right;"><?=$v['user_login']?></div>
            <?endif?>
			<div>
				<h1>Test_name</h1>
			
			</div>
			
		</div>
		
		<div id="main">
        <a href="index.php?page=main">На главную</a></br></br>
			</br>
            <?foreach($v['questions'] as $i=>$key):?>
            <a href="#" id="test<?=$i + 1?>"><?=$key?></a>
            <?endforeach?>
            </br>
            </br>
			<div id="question_body">
				
			</div>
			
		</div>
		</center>

	</body>
</html>