<script>
    $(document).ready(function() {
        $('#submit').click(function(){
            var answerString = 'answer=';
            for (var i=0; i<<?=sizeof($v['answers'])?>; i++) {
                if ($('#variant_' + i).prop('checked')) {
                    answerString += i;
                    break;
                }
            }
            $.ajax({
                url: 'index.php?page=submit_test&test_id=' + <?=$v['test_id']?> + '&' + answerString,
                success: function(data) {
                    // For debug purposes.
                    alert(data);
                    answer_submitted();
                }
            });
        });
    });
</script>
<div>
<h3 style="color=green"><?=$v['question']?></h3>
<?foreach($v['answers'] as $i=>$answer):?>
    <input type="radio" name="answer" id="variant_<?=$i?>" /><span><?=$answer?></span><br/>
<?endforeach?>
<input type="button" id="submit" value="Submit">
</div>