body{
	background-color:#43C6DB;
	margin:0px;
	}
#header{
	margin: 15px 0px;
	background-color: #9C9C9C;
	width:100%;
	height:180px;
	border-radius: 20px 20px 5px 5px;
	box-shadow: 0 0 20px 8px #323232;
	background: linear-gradient(to top, #9C9C9C, #fff);
}
#main{
	background-color:#fff;
	width:1024px;
	height:100%;
	border-radius: 40px;
	box-shadow: 0 0 20px 10px #323232;
	
	padding-left:10px;
	padding-right:10px;
	margin:0 auto;
	}
#gerb{
	width:200px;
	float: right;
	padding: 10px;
	
}
#logo{
	padding:17px;
	border:2px solid black;
	border-color:black;
}
#logo2{
	border:2px solid black;
	padding:15px;
}

#news_text{

	line-height:30px;
}
@font-face {
    font-family: 'Rupster Script Free'; /* Гарнитура шрифта */
    src: url(../tiYifJhh.ttf); /* Путь к файлу со шрифтом */
   }
h1   {
	font-family: 'Rupster Script Free';
	color:#43C6DB;
	font-size:50px;
	
}
h5 {
	font-family: 'Rupster Script Free';
	color:#43C6DB;
	font-size:30px;
	margin-top:0px;
	margin-bottom:0px;
}
#news_header{
	background:url(../img/cloud1.png) 20% no-repeat; 
	background-size:contain; 
	height:200px; 
	width:300px
}